{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  {% render 'breadcrumb' %}
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "breadcrumb_text",
      "name": "Breadcrumb_Text",
      "settings": [
        {
          "type": "text",
          "id": "breadcrumb_text",
          "label": "Breadcrumb_Text",
          "default": "Breadcrumb_Text"
        }
      ]
    }
  ]
}
{% endschema %}
