{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}
{% for block in section.blocks %}
  <div class="page-width">
    {% render 'breadcrumb' %}
    <p class="inline-richtext">{{ block.settings.breadcrumb_text }}</p>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Breadcrumb",
  "settings": [
    {
      "type": "text",
      "id": "breadcrumb_text",
      "label": "Breadcrumb text",
      "default": "Collection text"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}
