{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  {% render 'breadcrumb' %}
  <p class="inline-richtext">{{ section.settings.breadcrumb_text }}</p>
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "settings": [
    {
      "type": "text",
      "id": "breadcrumb_text",
      "label": "Breadcrumb text"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}
