.v-route-cont {
    border-radius: 12px;
  }

.v-route-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    padding: 10px 0!important;
    border-radius: 12px;
  }

  .v-route-block {
    flex-direction: column;
    width: 33%;
  }

  .v-route-stage{
    font-size:  12px;
    font-weight: bold;
  }

  .v-route-placed-under{
    text-decoration: underline;
    font-size:  12px;
    font-weight: normal;
  }

  .v-route-block-bold{
    font-size: 18px;
    font-weight: bold;
  }